/* Add application styles & imports to this file! */
body,
html {
  margin: 0px;
  padding: 0px;
}

.seat {
  position: absolute;
  border: 2px solid red;
}

.container {
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  color: greenyellow;
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  justify-content: center;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: -2px;
}